.invalidar-pedido {
    text-align: center;
    margin: $separacion / 2 0;
    text-transform: uppercase;
}

.contenido-pedido{
    margin-bottom: $separacion / 2 0;
    p {
        margin-bottom: .5rem;
        span {
            font-weight: $bold;
            color: $naranja;
            font-size: 2.4rem;
        }
    }

    .pedido-pedido{
        h3 {
            margin: $separacion / 2 0;
        }
        .contenedor-pedido {
            margin-bottom: 2rem;
            padding-bottom: 2rem;
            border-bottom: 1px solid #43453c;
            .nombre, .direccion, .telefono {
                font-size: 2.4rem;
                font-weight: $bold;
                color: $naranja;
            }
        }
    }

}